<!DOCTYPE html>
<html>
    <head>
        <title>prog_09</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script>
            var app = angular.module("myApp",[]);
            app.controller("mycntrl",function($scope){
                $scope.empList=[
                    {'name':'ABC','salary':800000},
                    {'name':'BCD','salary':700000},
                    {'name':'PQR','salary':1000000},
                    {'name':'XYZ','salary':1200000}
                ]
                
                $scope.clear=function(){
                    $scope.name=''
                    $scope.salary=''
                }
            });
        </script>

        <body ng-app="myApp">
            <h2>Employee search application</h2>

            <div ng-controller="mycntrl">
                Search by Employee name: <input type="text" ng-model="name">
                <br><br>
                Search by Employee salary: <input type="number" ng-model="salary">
                <br>
                <button ng-click="clear()">CLEAR</button>
                <br><br>
                <h3>List of employees</h3>

                <table border=1>
                    <tr>
                        <th>SLNO</th>
                        <th>EMP NAME</th>
                        <th>SALARY</th>
                    </tr>

                    <tr ng-repeat="emp in empList | filter:{name:name,salary:salary}">
                        <td>{{$index+1}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.salary}}</td>
                    </tr>
                </table>

            </div>
            
        </body>
    </head>
</html>
