<!DOCTYPE html>
<html>
    <head>
        <title>prog_02</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <script>
            var app = angular.module("myApp",[]);
            app.controller("mycntrl",function($scope){
                $scope.shoppinglist = ['apple','mango','Banana','grapes']
                
                $scope.additem=function(){
                    if($scope.newitem && $scope.shoppinglist.indexOf($scope.newitem)==-1){
                        $scope.shoppinglist.push($scope.newitem)
                        $scope.newitem=""
                    }

                else{
                    if($scope.newitem)
                        alert("item already exsit")
                    else
                        alert("enter an item")
                }
                }
// indexOf searches the array for a specific element and returns its index within the array if found.
// If the item is not found, indexOf returns -1.
                $scope.removeitem = function(){
                    if($scope.shoppinglist.indexOf($scope.selectitem) == -1){
                        alert("select an item")
                    }
                    else{
                        var index = $scope.shoppinglist.indexOf($scope.selectitem)
                        $scope.shoppinglist.splice(index,1)
                        $scope.selectitem = ""
                    }
                }
            });
        </script>
    </head>

    <body ng-app = "myApp">
        <h2>List of shopping Application</h2>

        <div ng-controller="mycntrl">
            <table border = 1>
                <tr>
                    <th>SLNO</th>
                    <th>ITEM</th>
                </tr>
                <tr ng-repeat="produts in shoppinglist">
                    <td>{{$index+1}}</td>
                    <td>{{produts}}</td>
                </tr>
            </table>

            Enter an Item to Add:<input type="text" ng-model="newitem">
            <button ng-click="additem()">ADD</button>

            Enter an Item to remove: <input type="text" ng-model="selectitem">
            <select nng-model="selectitem" ng-option="item for product in shoppinglist"></select>
            <button ng-click="removeitem()">REMOVE</button>
        </div>
       
        
       
        
    </body>
</html>